/*-- Styles for Daily Deals admin page --*/

.day-form-wrap {
	display: grid;
	grid-template-columns: repeat(2,49%);
	width: 100%;
	max-width: 1000px;
	margin: 10px 0 20px;
	box-sizing: border-box;
	grid-gap: 20px;
}

.day-form-wrap * {
	box-sizing: border-box;
}

@media (max-width: 767px) {
	.day-form-wrap {
		grid-template-columns: 100%;
	}
}

.day-form {
	padding: 15px;
	background-color: white;
	border: 1px solid #ddd;
	margin: 0;
	width: 100%;
}

.day-form h2 {
	border-bottom: 1px solid #ddd;
	padding: 15px;
	margin: -15px -15px 15px -15px;
}

.day-form.disabled .day-content {
	display: none;
}

.day-check {
	font-weight: bold;
	display: block;
	margin-bottom: 15px;
	font-size: 16px;
	cursor: pointer;
}

.day-form.disabled .day-check {
	font-weight: normal;
}

.day-input {
	display: flex;
}

.day-input label {
	margin-right: 5px;
}

.day-images {
	display: flex;
	margin: 20px 0;
}

.day-image {
	border: 1px solid #ddd;
	background: #f7f7f7;
	padding: 10px;
	margin-right: 15px;
	position: relative;
}

.day-image label {
	display: block;
	margin-bottom: 10px;
}

.day-image img {
	width: 150px;
	height: 150px;
	object-fit: cover;
}

.button.select-image {
	display: block !important;
	margin-bottom: 15px !important;
	width: 100%;
}

.button.remove-image {
	position: absolute;
	right: 15px;
	margin-top: 5px;
}
